.mainContent{
    display: grid;
    grid-template-rows: 20vh calc(100% - 20vh);
    row-gap: 10px;
}
.generateButtons{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    padding: 10px;
    background-color: #180d3f;
}

.ticketOptions{
    font-size: 28px;
    text-align: center;
    color: black;
    background-color: white
}
.ticketsInfo{
    display: grid;
    grid-template-columns: 33% 40% 30%;
    column-gap: 10px;
    padding-top: 10px;
    padding-left: 6vw;
}

.cajas{
    display: grid;
    grid-template-columns: auto auto auto;
}